target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.idea/*
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/dictionaries
*.iws
*.iml
*.ipr
*.png
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
*.png
*.html
*.prj
.idea/workspace.xml
.idea/workspace.xml
.idea/.name
.idea/
.idea/workspace.xml
*.xml
*.html
*.html
*.js
src/MATLAB/PianificazioneMoto/mapGeneration/for_redistribution/MyAppInstaller_web.exe
src/MATLAB/PianificazioneMoto/mapGeneration/for_redistribution_files_only/doc/html/stylesheet.css
*.xml
*.xml
*.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
src/MATLAB/slprj/raccel/PIDTrajectory/build_ext_inputs.mat
src/MATLAB/slprj/raccel/PIDTrajectory/build_initial_state.mat
src/MATLAB/slprj/raccel/PIDTrajectory/build_rtp.mat
src/MATLAB/slprj/raccel/PIDTrajectory/buildInfo.mat
src/MATLAB/slprj/raccel/PIDTrajectory/codedescriptor.dmr
src/MATLAB/slprj/raccel/PIDTrajectory/compileInfo.mat
src/MATLAB/slprj/raccel/PIDTrajectory/ext_input_settings.mat
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory.c
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory.exe
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory.h
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory.obj
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory_capi.c
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory_capi.obj
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory_data.obj
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory_dt.h
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory_get_checksum.mat
src/MATLAB/slprj/raccel/PIDTrajectory/PIDTrajectory_targ_data_map.m
src/MATLAB/slprj/raccel/PIDTrajectory/rs_raccel.mat
src/MATLAB/slprj/raccel/PIDTrajectory/rtwtypeschksum.mat
src/MATLAB/slprj/raccel/PIDTrajectory/template_dataset.mat
src/MATLAB/slprj/raccel/PIDTrajectory/tmwinternal/binfo.mat
src/MATLAB/slprj/raccel/PIDTrajectory/tmwinternal/minfo.mat
src/MATLAB/slprj/raccel/PIDTrajectory/tmwinternal/PIDTrajectory_TgtConnMgr.mat
src/MATLAB/slprj/sim/_sharedutils/shared_file.dmr
src/MATLAB/path.mat
src/MATLAB/mapg.mat
