.root > * {
    -fx-light-text-color: rgb(12, 0, 0);
    -fx-base: rgba(250, 208, 208, 0.96);
    -fx-background-image: url('img/RobotWallPaper.jpg');
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size:1094.5 830.5;

    -primary-color: #4db6ac;
    -primary-variant-color: #3cc7d3;
    -secondary-color: #83dbde;
    -secondary-variant-color: #73c2c2;
    -background-color: #c3deda;
    -surface-color: #ffffff;
    -error-color: #B00020;
    -on-primary-color: -fx-light-text-color;
    -on-secondary-color: -fx-light-text-color;
    -on-background-color: #c43c00;
    -on-surface-color: -fx-light-text-color;
    -on-error-color: #FFFFFF;
}
/*Flat button example */
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: white;
    -fx-text-fill: black;
}

/*Raised button example */
.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: rgb(21, 101, 192);
    -fx-text-fill: white;
}
#user-icon {
    -fx-fill: -fx-light-text-color !important;
}